#table-wrapper {
    height: 100%;
    background-color: lightgray;
    padding: 30px;
}
table {
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

tr {
    border: 1px solid lightgray;
}

td, th {
    text-align: left;
    padding: 8px;
}

th {
    color: #c0c3c6;
}

td {
    color: gray;
}