#login-page {
    width: 100%;
    min-height: 100vh;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    background: url('../../assets/images/trinity.jpg') no-repeat center center;
    background-size: cover;
}

.login-form {
    background-color: white;
    width: 350px;
    height: 100%;
    overflow-y: auto;
    z-index: 10;
}
a {
    text-decoration: none;
}
#formWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0px 50px 0px 50px;
    padding-top: 70px;
}

#formWrapper header {
    text-align: center;
    font-size: 30px;
    color: gray;
    margin-bottom : 30px;
}

.login-form-forgot {
    float: right;
    font-size: 12px;
  }

.login-form-button {
    background-color: #3b5998;
    color: white;
    border: none;
    border-radius: 2%;
    height: 30px;
    width: 100%;
    font-weight: 500;
}


.btn-register {
    background-color: white;
    color: gray;
    border: 1px solid lightgray;
}